@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #222;
  background: transparent;
}

body {
  background: #f5f5f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 4%;
  margin: 2vh 1vw;
  border-radius: 6px;
}

nav #logo {
  float: left;
  height: 24px;
}

nav > #report-bug {
  display: flex;
  align-items: center;
}

#report-bug > p {
  font-size: 12px;
  color: inherit;
}

nav > #report-bug:hover{
  color: #8490ff;
}

#bug {
  height: 14px;
  margin: 6px;
  color: inherit;
}

.social_icon {
  width: 18px;
  padding-right: 10px;
}

.social-wrapper {
  padding-top: 8px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #04091e;
  margin-top: auto;
  padding: 2vh 4vw;
}

footer * {
  color: #f9f9ff;
}

footer h4 {
  font-size: 18px;
  font-weight: 500;
}

.footer-widget {
  margin: 10px 0;
}

footer p {
  color: rgb(119, 119, 119);
  font-size: 12px;
  margin-top: 8px;
  max-width: 300px;
}

footer input[type="email"] {
  padding: 4px 8px;
  margin-top: 8px;
  border: none;
  background-color: #f9f9ff;
  width: 60vw;
  max-width: 220px;
  color: #222;
}

footer input[type="submit"] {
  padding: 4px 12px;
  background-color: #8490ff;
  border: none;
}
