#wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.poster {
  min-height: 220px;
  width: 26vw;
  min-width: 260px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

.poster:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.poster-content {
  padding:20px;
}

.poster-content > p{
  text-align: left;
  font-size: 12px;
}

.poster > img {
  float: right;
  height: 80px;
  position: relative;
  bottom: 20px;
  left: 20px;
  /* border: 2px solid red; */
}
